In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)
import re

In [16]:
df_red = pd.read_csv('Red.csv', low_memory=False)
df_red.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016

In [13]:
df_red.shape

(8666, 8)

In [18]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8666 entries, 0 to 8665
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8666 non-null   object
 1   Country          8666 non-null   object
 2   Region           8666 non-null   object
 3   Winery           8666 non-null   object
 4   Rating           8666 non-null   float64
 5   NumberOfRatings  8666 non-null   int64
 6   Price            8666 non-null   float64
 7   Year             8666 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 541.8+ KB

In [23]:
df_red['Year'] = df_red['Year'].apply(pd.to_numeric, errors='coerce')
df_red.sort_values('Year', ascending = False)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
3586,Tempranillo 2019,Spain,La Mancha,Bodegas Artero,3.8,29,4.99,2019.0
986,The Guv’nor 2019,Spain,Valdepeñas,Félix Solís,4.0,1333,6.20,2019.0
5407,Nero d'Avola 2019,Italy,Terre Siciliane,Cusumano,3.4,44,8.69,2019.0
7553,Cabernet Sauvignon 2019,South Africa,Western Cape,Golden Kaan,3.3,74,5.79,2019.0
4287,Vineyards Malbec 2019,Argentina,Mendoza,Trapiche,3.5,3393,4.78,2019.0
...,...,...,...,...,...,...,...,...
2201,Cinquanta Collezione N.V.,Italy,Vino d'Italia,San Marzano,4.3,19454,16.38,NaN
2404,Limited Edition 10 Vendemmie N.V.,Italy,Montepulciano d'Abruzzo,Tenuta Ulisse,4.6,2080,30.90,NaN
4527,Lambrusco Reggiano Dolce N.V.,Italy,Reggiano,Riunite,3.7,359,5.89,NaN
4833,Little James' Basket Press Rouge N.V.,France,Vin de France,Château de Saint Cosme,3.6,3818,7.90,NaN
5632,Tre Autoctoni Evoluzione Notturnia N.V.,Italy,Vino d'Italia,Farnese,3.7,461,7.75,NaN

In [30]:
df_red.dropna(inplace = True)
df_red.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8658 entries, 0 to 8665
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8658 non-null   object
 1   Country          8658 non-null   object
 2   Region           8658 non-null   object
 3   Winery           8658 non-null   object
 4   Rating           8658 non-null   float64
 5   NumberOfRatings  8658 non-null   int64
 6   Price            8658 non-null   float64
 7   Year             8658 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 608.8+ KB