# Cleaning (white)

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
white_df = pd.read_csv('White.csv', low_memory = False)
white_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018

In [3]:
white_df.shape

(3764, 8)

In [4]:
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3764 non-null   object
 1   Country          3764 non-null   object
 2   Region           3764 non-null   object
 3   Winery           3764 non-null   object
 4   Rating           3764 non-null   float64
 5   NumberOfRatings  3764 non-null   int64
 6   Price            3764 non-null   float64
 7   Year             3764 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 235.4+ KB

In [5]:
white_df.sort_values('Year')

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1379,Corton-Charlemagne Grand Cru 1993,France,Corton-Charlemagne Grand Cru,Bonneau du Martray,4.3,56,249.95,1993
1192,Wallufer Walkenberg Riesling Spätlese Trocken ...,Germany,Rheingau,J.B. Becker,4.1,50,25.00,1998
344,Chante-Alouette Hermitage Blanc 1999,France,Hermitage,M. Chapoutier,3.4,30,55.95,1999
3125,Corton-Charlemagne Grand Cru 1999,France,Corton-Charlemagne Grand Cru,Bonneau du Martray,4.2,246,217.95,1999
953,Graacher Domprobst Riesling Auslese*** 2003,Germany,Mosel,Markus Molitor,4.1,43,50.00,2003
...,...,...,...,...,...,...,...,...
3760,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,N.V.
1577,Bianco N.V.,Italy,Vino d'Italia,Apericena,3.8,64,5.70,N.V.
1877,Greca Terra Retsina N.V.,Greece,Peloponnesos,Tsantali,2.2,77,5.35,N.V.
3694,Retsina N.V.,Greece,Macedonia,Tsantali,2.6,1011,3.95,N.V.
3763,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,N.V.

In [6]:
white_df['Year'] = white_df['Year'].apply(pd.to_numeric, errors = 'coerce')
white_df.sort_values('Year', ascending = False)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1339,Sauvignon Blanc 2020,South Africa,Robertson,Arabella,4.0,55,5.95,2020.0
1673,Sauvignon Blanc 2020,South Africa,Durbanville,Diemersdal,3.8,68,8.90,2020.0
3762,Sauvignon Blanc 2019,New Zealand,Marlborough,Hans Greyl,4.2,5817,7.75,2019.0
2703,Greco Di Tufo 2019,Italy,Greco di Tufo,Feudi di San Gregorio,3.8,157,11.45,2019.0
678,Bianco di Custoza 2019,Italy,Bianco di Custoza,Zenato,3.7,37,5.00,2019.0
...,...,...,...,...,...,...,...,...
1577,Bianco N.V.,Italy,Vino d'Italia,Apericena,3.8,64,5.70,NaN
1877,Greca Terra Retsina N.V.,Greece,Peloponnesos,Tsantali,2.2,77,5.35,NaN
3694,Retsina N.V.,Greece,Macedonia,Tsantali,2.6,1011,3.95,NaN
3760,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,NaN
3763,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,NaN

In [7]:
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3764 non-null   object
 1   Country          3764 non-null   object
 2   Region           3764 non-null   object
 3   Winery           3764 non-null   object
 4   Rating           3764 non-null   float64
 5   NumberOfRatings  3764 non-null   int64
 6   Price            3764 non-null   float64
 7   Year             3759 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 235.4+ KB

In [8]:
white_df = white_df.dropna()
white_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3759 entries, 0 to 3762
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3759 non-null   object
 1   Country          3759 non-null   object
 2   Region           3759 non-null   object
 3   Winery           3759 non-null   object
 4   Rating           3759 non-null   float64
 5   NumberOfRatings  3759 non-null   int64
 6   Price            3759 non-null   float64
 7   Year             3759 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.3+ KB

# Analysis (white)

In [9]:
#Top 3 Greek

white_df_greek = white_df[(white_df['Country'] == 'Greece')]
top_greek_white = white_df_greek.sort_values('Rating', ascending = False).head(3)
top_greek_white

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
2711,Canava Chrissou Tselepos Santorini Vieilles Vi...,Greece,Santorini,Κτημα Τσελεπου (Ktima Tselepos),4.1,158,29.50,2017.0
877,Ευχές (Wishes) 2015,Greece,Macedonia,Pieria Eratini (Πιερία Ερατεινή),4.0,41,13.95,2015.0
3611,Assyrtiko Santorini 2018,Greece,Santorini,Domaine Sigalas,4.0,651,26.95,2018.0

In [10]:
# White sorted

white_df.sort_values('Price', ascending = False)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
541,Montrachet Grand Cru Marquis de Laguiche 2017,France,Montrachet Grand Cru,Joseph Drouhin,4.9,34,681.37,2017.0
1682,Scharzhofberger Riesling Auslese 2014,Germany,Wiltingen,Egon Müller - Scharzhof,4.5,68,554.10,2014.0
493,Bâtard-Montrachet Grand Cru 2015,France,Bâtard-Montrachet Grand Cru,Domaine Henri Boillot,4.6,33,520.00,2015.0
574,Scharzhofberger Riesling Auslese 2018,Germany,Wiltingen,Egon Müller - Scharzhof,4.2,35,506.89,2018.0
1391,Scharzhofberger Riesling Auslese 2017,Germany,Wiltingen,Egon Müller - Scharzhof,4.5,56,450.00,2017.0
...,...,...,...,...,...,...,...,...
348,Blanco 2015,Spain,Rioja,Bodegas Aradon,3.5,31,4.00,2015.0
340,Bianco 2018,Italy,Terre Siciliane,Monte Pietroso,3.7,30,3.79,2018.0
659,Sauvignon Blanc 2018,Spain,La Mancha,Añoranza,3.1,37,3.75,2018.0
822,Klassiek Wit 2018,South Africa,Western Cape,Oude Kaap,2.8,40,3.75,2018.0
2465,Chenin Blanc 2018,South Africa,Western Cape,Oude Kaap,3.2,125,3.74,2018.0

In [11]:
white_df_international = white_df[(white_df['Price']<=300)]

white_df_international.sort_values('Rating', ascending = False)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1010,Ermitage de l'Orée 2004,France,Hermitage,M. Chapoutier,4.8,44,189.95,2004.0
1207,The Wine Collection Sauvignon 2016,Italy,Südtirol - Alto Adige,St. Michael-Eppan,4.7,50,142.01,2016.0
2709,Vieilles Vignes Châteauneuf-du-Pape Blanc 2014,France,Châteauneuf-du-Pape,Château de Beaucastel,4.6,158,135.50,2014.0
1209,Zeltinger Schlossberg Riesling Trockenbeerenau...,Germany,Mosel,Markus Molitor,4.6,51,95.55,2006.0
2486,Kirchspiel Riesling GG 2012,Germany,Rheinhessen,Keller,4.6,127,179.00,2012.0
...,...,...,...,...,...,...,...,...
94,Trebbiano d'Abruzzo 2018,Italy,Trebbiano d'Abruzzo,Caldora,2.9,26,4.75,2018.0
822,Klassiek Wit 2018,South Africa,Western Cape,Oude Kaap,2.8,40,3.75,2018.0
342,Virtus Moscato 2016,Brazil,Serra Gaúcha,Monte Paschoal,2.8,30,6.77,2016.0
3409,Chardonnay 2018,United States,California,Gallo Family Vineyards,2.8,394,6.30,2018.0
27,Veneto Bianco 2017,Italy,Veneto,Cantina di Soave,2.7,25,5.42,2017.0

In [12]:
top_international_white= white_df_international[(white_df_international['NumberOfRatings']>=300)]

In [15]:
# Top 10 rated countries for white

top_international_white_avg = top_international_white.groupby('Country').mean()['Rating'].reset_index()
top_international_white_avg.sort_values('Rating', ascending = False).head(5).plot(x = 'Country', y = 'Rating', kind = 'bar', figsize=(12,6))

TypeError: Could not convert Portillo Chardonnay 2018Estate Torrontes (Premium) 2018Oak Cask Chardonnay 2018Terroir Series Torrontes 2015Chardonnay 2019Portillo Sauvignon Blanc 2019Barrel Selection Chardonnay 2018Las Moras Chardonnay 2018Felino Chardonnay 2018Torrontes 2017Torrontes 2019Chardonnay 2017Torrontes 2015Chardonnay 2018Chardonnay 2016Chardonnay 2017Chardonnay 2017 to numeric

In [16]:
# Cheap white wines with top ratings

cheap_top_international_white = top_international_white[(top_international_white['Price']<=50)].sort_values('Rating', ascending = False).head(5)
cheap_top_international_white

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
3697,Vintage Tunina 2015,Italy,Venezia Giulia,Jermann,4.3,1036,48.76,2015.0
3745,Chardonnay 2018,United States,Los Carneros,Rombauer Vineyards,4.3,2034,39.90,2018.0
3585,Grand Régnard Chablis 2018,France,Chablis,Régnard,4.3,596,36.90,2018.0
3762,Sauvignon Blanc 2019,New Zealand,Marlborough,Hans Greyl,4.2,5817,7.75,2019.0
3580,As Sortes Val do Bibei Godello 2014,Spain,Valdeorras,Rafael Palacios,4.2,586,39.90,2014.0

In [17]:
# Mid white wines with top ratings

mid_top_international_white = top_international_white[(top_international_white['Price']>50) & (top_international_white['Price']<=150)].sort_values('Rating', ascending = False).head(5)
mid_top_international_white

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
3358,Castello della Sala Cervaro della Sala 2018,Italy,Umbria,Antinori,4.5,359,58.19,2018.0
3493,Baron de L Pouilly-Fumé 2015,France,Pouilly-Fumé,de Ladoucette,4.4,479,97.04,2015.0
3725,Chardonnay 2016,United States,Napa Valley,Chateau Montelena,4.4,1423,65.90,2016.0
3359,Condrieu La Doriane 2017,France,Condrieu,E. Guigal,4.3,359,84.00,2017.0
3280,Château Grenouilles Chablis Grand Cru 2014,France,Chablis Grand Cru,La Chablisienne,4.2,307,63.54,2014.0

In [19]:
# Expensive white wines with top ratings

exp_top_international_white = top_international_white[(top_international_white['Price']>150)].sort_values('Rating', ascending = False).head(1)
exp_top_international_white

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
3435,Corton-Charlemagne Grand Cru 2008,France,Corton-Charlemagne Grand Cru,Bonneau du Martray,4.5,421,263.9,2008.0